@model FileUploadwithModelandPreview.Models.UploadFile

@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!--<input type="file" name="file" id="file"/><!--One file version-->

    <input type="file" name="file1" id="file1" onchange="previewFile(1)" />
    <input type="file" name="file2" id="file2" onchange="previewFile(2)" />

    <input type="submit" value="Upload" />

}
<!--<input type="submit" value="Preview" onclick="previewFile()" /><!--one file version-->

@*
    @using (Html.BeginForm("", ""))
    {
        <input type="submit" value="Preview1" onclick="previewFile(1)" />
    }

    @using (Html.BeginForm("", ""))
    {
        <input type="submit" value="Preview2" onclick="previewFile(2)" />
    }
*@

<div class="overlay" id="overlay"></div>

@*
    <input type="submit" value="Preview1" onclick="previewFile1()" />
    <input type="submit" value="Preview2" onclick="previewFile2()" />
*@
<!--<input type="submit" value="HidePreview" onclick="hidePreviewFile()" />one file version hide preview non floating-->

<div> @ViewBag.Message </div>

@*
    <div id="filePreview">
        <!-- The preview will be displayed here -->
    </div>
*@
@* one file upload preview
    <div id="floatingPreview1" style="display: none;">
        <span onclick="hidePreviewFile1()" class="close-button">&times;</span>
        <div id="filePreview1">
            <!-- The preview will be displayed here -->
        </div>
    </div>

    <div id="floatingPreview2" style="display: none;">
        <span onclick="hidePreviewFile2()" class="close-button">&times;</span>
        <div id="filePreview2">
            <!-- The preview will be displayed here -->
        </div>
    </div>
*@

<div id="floatingPreview1" style="display: none;">
    <span onclick="hidePreviewFile(1)" class="close-button">&times;</span>
    <div id="filePreview1">
        <!-- The preview will be displayed here -->
    </div>
</div>

<div id="floatingPreview2" style="display: none;">
    <span onclick="hidePreviewFile(2)" class="close-button">&times;</span>
    <div id="filePreview2">
        <!-- The preview will be displayed here -->
    </div>
</div>

<!-- 2 file upload preview -->
@*
    <div id="filePreview1" class="floating-preview">
        <!--<span class="close-button" onclick="hidePreview(1)" >&times;</span>-->
        <!-- The preview for file 1 will be displayed here -->
        <div id="filePreview1">
            <!-- The preview will be displayed here -->
        </div>
    </div>

    <div id="filePreview2" class="floating-preview">
        <span class="close-button" onclick="hidePreview(2)" >&times;</span>
        <!-- The preview for file 2 will be displayed here -->
    </div>
*@
<script>
    /*
    function previewFile()
    {
        // Get the selected file from the file input
        var fileInput = document.getElementById('file');
        var file = fileInput.files[0];

        // Redirect to the Preview action passing the file name
        //window.location.href = Url.Action("Preview", "File")?fileName= + file.name;
    }*/

    /* working 2 file floating
    var previewShown1 = false;

    function previewFile1() {
        var preview = document.getElementById("filePreview1");
        var fileInput = document.getElementById('file1');
        var file = fileInput.files[0];

        if (file) {
            var reader = new FileReader();

            if (file.type.startsWith("image/")) {
                reader.onloadend = function () {
                    var img = document.createElement("img");
                    img.src = reader.result;
                    img.style.maxWidth = "500px";
                    preview.innerHTML = ""; // Clear previous preview
                    preview.appendChild(img);
                };
            } else if (file.type === "application/pdf") {
                reader.onloadend = function () {
                    var embed = document.createElement("embed");
                    embed.src = reader.result;
                    embed.type = file.type;
                    embed.width = "500px";
                    embed.height = "600px";
                    preview.innerHTML = ""; // Clear previous preview
                    preview.appendChild(embed);
                };
            } else {
                preview.innerHTML = "<p>Preview not available for this file type.</p>";
            }

            reader.readAsDataURL(file);
            // non floating one file preview version
            //if (!previewShown) {
            //    preview.style.display = "block"; // Show the preview container if it's hidden
            //    previewShown = true;
            //}
            // floating one file preview version
            if (!previewShown1) {
                document.getElementById("floatingPreview1").style.display = "block";
                previewShown1 = true;
            }
        } else {
            preview.innerHTML = "<p>No file selected.</p>";
        }
    }*/
    //one file non floating hide preview button

    //function hidePreviewFile() {
    //    var preview = document.getElementById("filePreview");
    //    preview.style.display = "none";
    //    previewShown = false;
    //}

    //one file floating hide preview button

    /*working 2 file floating
    function hidePreviewFile1() {
        document.getElementById("floatingPreview1").style.display = "none";
        previewShown1 = false;
    }

    var previewShown2 = false;

    function previewFile2() {
        var preview = document.getElementById("filePreview2");
        var fileInput = document.getElementById('file2');
        var file = fileInput.files[0];

        if (file) {
            var reader = new FileReader();

            if (file.type.startsWith("image/")) {
                reader.onloadend = function () {
                    var img = document.createElement("img");
                    img.src = reader.result;
                    img.style.maxWidth = "500px";
                    preview.innerHTML = ""; // Clear previous preview
                    preview.appendChild(img);
                };
            } else if (file.type === "application/pdf") {
                reader.onloadend = function () {
                    var embed = document.createElement("embed");
                    embed.src = reader.result;
                    embed.type = file.type;
                    embed.width = "500px";
                    embed.height = "600px";
                    preview.innerHTML = ""; // Clear previous preview
                    preview.appendChild(embed);
                };
            } else {
                preview.innerHTML = "<p>Preview not available for this file type.</p>";
            }

            reader.readAsDataURL(file);
            // non floating one file preview version
            //if (!previewShown) {
            //    preview.style.display = "block"; // Show the preview container if it's hidden
            //    previewShown = true;
            //}
            // floating one file preview version
            if (!previewShown2) {
                document.getElementById("floatingPreview2").style.display = "block";
                previewShown2 = true;
            }
        } else {
            preview.innerHTML = "<p>No file selected.</p>";
        }
    }*/
    //one file non floating hide preview button

    //function hidePreviewFile() {
    //    var preview = document.getElementById("filePreview");
    //    preview.style.display = "none";
    //    previewShown = false;
    //}

    //one file floating hide preview button

    //working 2 file floating
    /*
    function hidePreviewFile2() {
        document.getElementById("floatingPreview2").style.display = "none";
        previewShown2 = false;
    }*/

    // 2 file floating preview controls :
    var previewShown = [false, false];

    function previewFile(fileNumber) {
        var preview = document.getElementById(`filePreview${fileNumber}`);
        console.log("value: ", preview)
        var fileInput = document.getElementById(`file${fileNumber}`);
        var file = fileInput.files[0];

        if (file) {
            var reader = new FileReader();

            if (file.type.startsWith("image/")) {
                reader.onloadend = function () {
                    var img = document.createElement("img");
                    img.src = reader.result;
                    img.style.maxWidth = "500px";
                    preview.innerHTML = ""; // Clear previous preview
                    preview.appendChild(img);
                };
            } else if (file.type === "application/pdf") {
                reader.onloadend = function () {
                    var embed = document.createElement("embed");
                    embed.src = reader.result;
                    embed.type = file.type;
                    embed.width = "500px";
                    embed.height = "600px";
                    preview.innerHTML = ""; // Clear previous preview
                    preview.appendChild(embed);
                };
            } else {
                preview.innerHTML = "<p>Preview not available for this file type.</p>";
            }

            reader.readAsDataURL(file);
            // non floating one file preview version
            //if (!previewShown) {
            //    preview.style.display = "block"; // Show the preview container if it's hidden
            //    previewShown = true;
            //}
            // floating one file preview version
            if (!previewShown[fileNumber - 1]) {
                document.getElementById(`floatingPreview${fileNumber}`).style.display = "block";
                previewShown[fileNumber - 1] = true;
            }
            var overlay = document.getElementById("overlay");
            overlay.style.display = "block";
        } else {
            preview.innerHTML = "<p>No file selected.</p>";
            var overlay = document.getElementById("overlay");
            overlay.style.display = "none";
        }
    }

    function hidePreviewFile(fileNumber) {
        document.getElementById(`floatingPreview${fileNumber}`).style.display = "none";
        previewShown[fileNumber - 1] = false;
        // Hide the overlay to enable background interactions
        var overlay = document.getElementById("overlay");
        overlay.style.display = "none";
    }


</script>